{% extends "base.html" %}

{% block content %}

<body>

    {% include 'nav.html' %}
    <div class='container'>
        <div class="row">
            <div class='col-md-12'>
                <img src="{{ url_for('static', filename='nbalogo.jpg') }}" alt="Bulls Team Lineup" class='center-block img-responsive'>
            </div>
        </div>

        <div class="row">
            <div class='col-md-12'>
                <h1 class='text-center'>{{ header }}</h1>


            </div>
        </div>

        <div class="row">
            <div class='col-md-4'>
                <canvas id="canvas1"></canvas>
            </div>


            <div class='col-md-4'>
                <canvas id="canvas2"></canvas>
            </div>

            <div class='col-md-4'>
                <canvas id="canvas3"></canvas>
            </div>
        </div>
    </div>

</body>

</html>
