{% extends "base.html" %}

{% block content %}

<body>

{% include 'nav.html' %}


<div class='container'>
<div class="row">
    <div class='col-md-12'>
        <img src="{{ url_for('static', filename='philly76ers.jpg') }}" alt="Bulls Team Lineup" class='center-block img-responsive'>
    </div>
</div>

<div class="row">
    <div class='col-md-12'>
        <h1 class='text-center'>{{ title }}</h1>
        <p class='text-center'>{{ body }}</p>
        <p>
        </p>
    </div>
</div>
<br>
<br>

<div class="row">
    <div class='col-md-4'>
        <canvas id="canvas1"></canvas>
    </div>


    <div class='col-md-4'>
        <canvas id="canvas2"></canvas>
    </div>

    <div class='col-md-4'>
        <canvas id="canvas3"></canvas>
    </div>
</div>

<br>
<br>
<br>
<div class="row">
    <div class='col-md-4'>
        <canvas id="canvas4"></canvas>
    </div>


    <div class='col-md-4'>
        <canvas id="canvas5"></canvas>
    </div>

    <div class='col-md-4'>
        <canvas id="canvas6"></canvas>
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    <div class='col-md-4'>
        <canvas id="canvas7"></canvas>
    </div>


    <div class='col-md-4'>
        <canvas id="canvas8"></canvas>
    </div>

    <div class='col-md-4'>
        <canvas id="canvas9"></canvas>
    </div>
</div>
<br>
<br>
<br>
</div>


<script>

window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(231,233,237)'
};

window.randomScalingFactor = function () {
    return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
};
var color = Chart.helpers.color;

var data = {
    labels: [
"76ers",
"Other",
],
datasets: [
{
    data: [ {{assista}} ,{{ assistb }} ],
    backgroundColor: [
      "blue",
      "grey",
    ],
    hoverBackgroundColor: [
      "blue",
      "grey",
    ]
}]
};

var data2 = {
    labels: [
      "Warriors",
      "grey",
],
datasets: [
{
    data: [{{reboundsa}}, {{reboundsb}}, ],
    backgroundColor: [
      "blue",
      "grey",

    ],
    hoverBackgroundColor: [
      "blue",
      "grey",

    ]
}]
};



var data3 = {
    labels: [
      "yellow",
      "grey",
],
datasets: [
{
    data: [{{oreboundsa}},{{oreboundsb}}],
    backgroundColor: [
      "blue",
      "grey",
    ],
    hoverBackgroundColor: [
      "blue",
      "grey",
    ]
}]
};



var data4 = {
    labels: [
      "yellow",
      "grey",
      ],
      datasets: [
      {
          data: [{{turnoverb}}, {{turnovera}}],
          backgroundColor: [
            "blue",
            "grey",
          ],
          hoverBackgroundColor: [
            "blue",
            "grey",
    ]
}]
};




var data5 = {
    labels: [
      "yellow",
      "grey",
      ],
      datasets: [
      {
          data: [{{steala}}, {{stealb}}],
          backgroundColor: [
            "blue",
            "grey",
          ],
          hoverBackgroundColor: [
            "blue",
            "grey",
    ]
}]
};

var data6 = {
    labels: [
      "yellow",
      "grey",
],
datasets: [
{
    data: [{{blocksa}},{{blocksb}}],
    backgroundColor: [
      "blue",
      "grey",
    ],
    hoverBackgroundColor: [
      "blue",
      "grey",
    ]
}]
};

window.onload = function () {

var chart1 = document.getElementById("canvas1").getContext("2d");
window.myBar = new Chart(chart1, {
    type: 'pie',
    data: data,
    options: {
        responsive: true,
        legend: {
            position: 'top'
        },
        title: {
            display: true,
            text: 'Dominance on Assists:'
        }
    }
});

var chart2 = document.getElementById("canvas2").getContext("2d");
window.myBar = new Chart(chart2, {
    type: 'pie',
    data: data2,
    options: {
        responsive: true,
        legend: {
            position: 'top'
        },
        title: {
            display: true,
            text: 'Dominance on Offensive Rebounds:'
        }
    }
});

var chart3 = document.getElementById("canvas3").getContext("2d");
window.myBar = new Chart(chart3, {
    type: 'pie',
    data: data3,
    options: {
        responsive: true,
        legend: {
            position: 'top'
        },
        title: {
            display: true,
            text: 'Dominance on Offensive Rebounds:'
        }
    }
});

var chart4 = document.getElementById("canvas4").getContext("2d");
window.myBar = new Chart(chart4,{
  type: 'pie',
  data: data4,
  options: {
      responsive: true,
      legend: {
          position: 'top'
      },
      title: {
          display: true,
          text: 'How well did they Keep the Ball Safe vs '
      }
  }
});

var chart5 = document.getElementById("canvas5").getContext("2d");
window.myBar = new Chart(chart5,{
  type: 'pie',
  data: data5,
  options: {
      responsive: true,
      legend: {
          position: 'top'
      },
      title: {
          display: true,
          text: 'How dominant were they on Defensive Steals'
      }
  }
});

var chart6 = document.getElementById("canvas6").getContext("2d");
window.myBar = new Chart(chart6,{
  type: 'pie',
  data: data6,
  options: {
      responsive: true,
      legend: {
          position: 'top'
      },
      title: {
          display: true,
          text: 'How was more dominant on Defensive Blocks'
      }
  }
});


};

</script>

    </body>
</html>
{% endblock %}
